<%- include('includes/head.ejs') %>
</head>

  <body>
    <%- include('includes/nav.ejs') %>

    <main>
        <h3>Something went wrong :(</h3>
        <p>We are working to fix the issue. Sorry for the inconvenience.</p>
    </main>

<%- include('includes/tail.ejs') %>

