.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
}

.form-control label {
  font-size: 0.8rem;
}

.form-control input, 
.form-control textarea {
  border: 1.5px solid #aaaaaa;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus, 
.form-control textarea:focus {
  outline-color: #008080;
}

button {
  font: inherit;
  border: 1.5px solid #919191;
  background: #ffffff;
  color: #509191;
  border-radius: 3px;
  cursor: pointer;
}

button:hover,
button:active {
  color: #ffffff;
  background: #535353;
}
