.login-form {
  width: 22%;
  max-width: 30rem;
  min-width: 18rem;
  margin-bottom: 10rem;
}

.flex-container__login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}